    <html>
    <head>
        {% load i18n %}
        {% load tags_active %}
        {% load staticfiles %}
        <meta http-equiv="X-UA-Compatible" content="IE=9"> 
        <title>Persistent ODSI</title>        
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />    
        <script type="text/javascript" src="/static/script/jquery.js"></script>
        <script type="text/javascript" src="/static/script/jquery-ui-1.10.4.custom.js"></script>        
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />  
        <script type="text/javascript" src="/static/script/jquery.bxslider.js"></script>        
        <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.4.custom.css" />    
           <script type="text/javascript" src="/static/script/common.js"></script>           
    </head>
    <body>        
        <div class="page">           
            <div id="header">
                <h1><span>Persistent</span>On Demand Software Installation</h1>
                <span class="tagline">Partners in Innovation</span>
                </span>                
                <div class="subheader"><a href="#">Applications</a>><a href="#">Quality Engineering</a></div>
            </div>
            <div id="page-content">     
                <div id="page-content-inner">     
                <div class="sidebar-before"></div>                
                <div class="sidebar">                
                   
                    <ul class="paging2">
                        <li><span>Applications<span class="icon-collapse"/></span></span>
                            <ul class="sub">
                             <li><span class="active">Quality Engineering</span></li>
                            <li><span>Dev Ops</span></li>
                            <li><span>Database Servers</span></li>
                            <li><span>Others</span></li>
                            </ul>
                        </li>
                        <li><span>Template</span></li>
                        <li><span>Operating System</span></li>
                        <li><span>Configuration</span></li>
                         <li><span id="installation-list">Installations In Progress</span></li>
                    </ul>                  
                   
                </div>              
                <div id="wrapper">
                     <div id="toggle-button" class="close-panel"></div>
                    <div id="softwaresPage">                       
                        <div class="page-header"><span class="space">Quality Engineering</span><span>|</span><span class="sub-text">Software List for installation.</span></div>  
                        
                              <div class="slider-wrapper">                                   
                                    <ul class="bxslider">
                                         <li>                                           
                                            <div title="ruby">
                                                <div class="check"></div>
                                                <div class="head">
                                                    <img src="/static/images/logo-ruby.png" />
                                                </div>
                                                <div class="content">We support Ruby applications written using the Rails, Sinatra, and Rack frameworks.</div>
                                                <!--button class="install-btn btn">Install</button-->
                                                <div class="progressWrapper"><span>Installation Progress</span><div class="progressbar"><div class="progress-label">Loading...</div></div></div> 
                                            </div>
                                            <div title="jboss"> 
                                                <div class="head">
                                                    <img src="/static/images/logo-jboss.gif" />
                                                </div>
                                                <div class="content">JBoss Application Server is an open-source, cross-platform Java application server developed by JBoss.Open-source used for implementing Java applications and other Web-based applications and software.</div>
                                             <button class="install-btn btn">Install</button>
                                            </div>
                                             <div title="mysql"> 
                                                <div class="head">
                                                    <img src="/static/images/logo-mysql.png" />
                                                </div>
                                                <div class="content">MySQL is the world's most popular open source database software, with over 100 million copies of its software downloaded or distributed throughout its history.</div>
                                             <button class="install-btn btn">Install</button>
                                             </div>
                                              <div title="ruby"> 
                                                <div class="head">
                                                    <img src="/static/images/logo-ruby.png" />
                                                </div>
                                                <div class="content">We support Ruby applications written using the Rails, Sinatra, and Rack frameworks.</div>
                                             <button class="install-btn btn">Install</button>
                                              </div>
                                        </li>  
                                        <li>                                           
                                            <div title="mongo">
                                                <div class="head">
                                                 <img src="/static/images/logo-mongo.png" />
                                                </div>
                                                <div class="content">MongoDB (from "humongous") is a cross-platform document-oriented database system. It is a scalable, high-performance, open source NoSQL database.</div>
                                                <button class="install-btn btn">Install</button>                                                 
                                            </div>
                                            <div title="node"> 
                                                <div class="head">
                                                     <img src="/static/images/logo-node.png" />
                                                </div>
                                                <div class="content">Node.js is a software platform that is used to build scalable network (especially server-side) applications.It utilizes JavaScript as its scripting language.</div>
                                             <button class="install-btn btn">Install</button></div>
                                            <div title="jboss">
                                                <div class="head">
                                                    <img src="/static/images/logo-jboss.gif" />
                                                </div>
                                                <div class="content">JBoss Application Server is an open-source, cross-platform Java application server.Open-source used for implementing Java applications and other Web-based applications.</div>
                                             <button class="install-btn btn">Install</button></div>  
                                             <div title="ruby"> 
                                                <div class="head">
                                                    <img src="/static/images/logo-ruby.png" />
                                                </div>
                                                <div class="content">We support Ruby applications written using the Rails, Sinatra, and Rack frameworks.</div>
                                             <button class="install-btn btn">Install</button></div>
                                        </li>                                                                                                             
                                                                            
                                    </ul>
  
                                </div>
                    </div>
                     </div>
                </div>
                </div>
            </div>
        </div>
           <script type="text/javascript" src="/static/script/common.js"></script>           
          <script type="text/javascript" src="/static/script/jquery.bxslider.js"></script>     
         
    </body>

    </html>
 
